<%= form_with(model: ad, class: "contents") do |form| %>
  <% if ad.errors.any? %>
    <div id="error_explanation" class="bg-rose-50 text-rose-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
        <% ad.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
  <%= form.label :messaging_type, class: "mb-2" %>
    <div class="mt-5 grid gap-4 grid-cols-2">
      <%= form.collection_radio_buttons :messaging_type, Ad.messaging_types, :first, :first, html_options: { class: 'mt-2' } do |b| %>
        <%= b.label class: "border border-2 border-dashed p-4" do %>
          <div class="relative flex items-start">
            <div class="flex items-center h-5">
              <%= b.radio_button html_options: { class: "focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300" } %>
            </div>
            <div class="ml-3 text-sm">
              <div class="flex mb-4">
                <label for="small" class="font-medium text-gray-700 mr-2"><%= b.text.humanize %></label>
                <%= messaging_type_icon(b.text) %>
              </div>

              <p id="small-description" class="text-gray-500"><%= messaging_type_description(b.text) %></p>
            </div>
          </div>
          <br>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="my-5">
  <%= form.label :trust_channel, class: "mb-2" %>
    <div class="mt-5 grid gap-4 grid-cols-2">
      <%= form.collection_radio_buttons :trust_channel, Ad.trust_channels, :first, :first, html_options: { class: 'mt-2' } do |b| %>
        <%= b.label class: "border border-2 border-dashed p-4" do %>
          <div class="relative flex items-start">
            <div class="flex items-center h-5">
              <%= b.radio_button html_options: { class: "focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300" } %>
            </div>
            <div class="ml-3 text-sm">
              <div class="flex mb-4">
                <label for="small" class="font-medium text-gray-700 mr-2"><%= b.text.humanize %></label>
                <%= ad_trust_channel_icon(b.text) %>
              </div>
              <p id="small-description" class="text-gray-500"><%= ad_trust_channel_description(b.text) %></p>
            </div>
          </div>
          <br>
        <% end %>
      <% end %>
    </div>
  </div>


  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium" %>
  </div>
<% end %>
