<%= form_with(model: peer, class: "contents") do |form| %>
  <% if peer.errors.any? %>
    <div id="error_explanation" class="bg-rose-50 text-rose-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(peer.errors.count, "error") %> prohibited this peer from being saved:</h2>

      <ul>
        <% peer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :onion_address %>
    <%= form.text_field :onion_address, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    <p class="text-sm text-gray-400 ml-7 mt-2">
      Have your friend add you as a peer to access each others markets.
      <br />
      You address is <%= configatron.my_onion %>
    </p>
  </div>

  <div class="my-5">
    <%= form.label :trust_level, class: "mb-2" %>
    <div class="mt-5">
      <%= form.collection_radio_buttons :trust_level, peer_trust_levels, :first, :first, html_options: { class: 'mt-2' } do |b| %>
        <%= b.label do %>
          <div class="relative flex items-start">
            <div class="flex items-center h-5">
              <%= b.radio_button html_options: { class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300" } %>
            </div>
            <div class="ml-3 text-sm">
              <label for="small" class="font-medium text-gray-700"><%= b.text.humanize %></label>
              <p id="small-description" class="text-gray-500"><%= peer_trust_level_description(b.text) %></p>
            </div>
          </div>
          <br>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-indigo-700 text-white inline-block font-medium" %>
  </div>
<% end %>
