<% content_for :page_title, 'Peers' %>

<% content_for :mobile_nav_cta do %>
  <div class="flex-shrink-0 sm:hidden">
    <%= link_to new_peer_path, class: "btn relative inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" do %>
      <!-- Heroicon name: solid/plus-sm -->
      <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
      </svg>
      <span>New Peer</span>
    <% end %>
  </div>
<% end %>

<div class="w-full">
  <div class="flex justify-end items-center pb-5">
    <%= link_to 'New peer', new_peer_path, class: "hidden md:block rounded-lg py-3 px-5 bg-indigo-700 text-white block font-medium" %>
  </div>
</div>

<!-- Peer list (smallest breakpoint only) -->
<div class="shadow md:hidden">
  <ul role="list" class="mt-2 divide-y divide-gray-200 overflow-hidden shadow md:hidden">
    <% @peers.find_each do |peer| %>
      <li>
        <%= link_to peer,class: "block px-4 py-4 bg-white hover:bg-gray-50" do %>
          <span class="flex items-center space-x-4">
            <span class="flex-1 flex space-x-2 truncate">
          
              <span class="flex flex-col text-gray-500 text-sm text-ellipsis overflow-hidden">
                <span class="truncate font-bold text-gray-800"><%= peer.name %></span>
                <span class="text-gray-900 text-xs"><%= peer.onion_address %></span>
                <time class="text-xs" datetime="<%= peer.created_at.to_date %>">since <%= peer.created_at.to_date %></time>
              </span>
            </span>
            <!-- Heroicon name: solid/chevron-right -->
            <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
            </svg>
          </span>
        <% end %>
      </li>
    <% end %>
  </ul>

  <nav class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200" aria-label="Pagination">
    <div class="flex-1 flex justify-between">
      <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500">
        Previous
      </a>
      <a href="#" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500">
        Next
      </a>
    </div>
  </nav>
</div>

<!-- Large viewport table -->
<div class="flex flex-col hidden md:block">
  <div class="">
    <div class="py-2 align-middle inline-block min-w-full">
      <div class="shadow border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Name
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Address
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Status
              </th>
              <th scope="col" class="relative px-6 py-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <%= @peers.find_each.with_index do |peer, index| %>
              <% even = index % 2 %>
              <tr class="<%= even ? 'bg-white' : 'bg-gray-50'%>">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">                
                  <%= link_to peer.name, peer_path(peer) %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-xs text-gray-500">
                  <%= peer.onion_address %>
                </td>
                <td>
                  <%= peer_online_status(peer) %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <%= link_to 'Edit', edit_peer_path(peer), class: "text-indigo-600 hover:text-indigo-900" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
