<% content_for :page_title, 'Marketplace' %>

<% if @ads.empty? && @search.parameters_blank? %>
  <%= empty_state_container do %>
    <h2 class="text-4xl">
      Your market is empty.
    </h2>

    <h3 class="text-lg mt-4">
      Connect with peers to search ads from their network.
    </h3>

    <svg xmlns="http://www.w3.org/2000/svg" class="h-44 w-44" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 5.636a9 9 0 010 12.728m0 0l-2.829-2.829m2.829 2.829L21 21M15.536 8.464a5 5 0 010 7.072m0 0l-2.829-2.829m-4.243 2.829a4.978 4.978 0 01-1.414-2.83m-1.414 5.658a9 9 0 01-2.167-9.238m7.824 2.167a1 1 0 111.414 1.414m-1.414-1.414L3 3m8.293 8.293l1.414 1.414" />
    </svg>

    <%= link_to new_peer_path, class: "btn relative inline-flex items-center justify-center my-2 mx-4 rounded-lg py-3 px-5 bg-blue-700 text-white block font-medium hover:bg-blue-500" do %>
      <!-- Heroicon name: solid/plus-sm -->
      <%= icon_plus %>
      <span>
        New peer
      </span>
    <% end %>
  <% end %>
<% else %>
  <!-- Peer list (smallest breakpoint only) -->
  <div id="detail_view" class="grow p-4">
    <div class="facets flex-1 flex mb-2">
      <form class="w-full flex md:ml-0" action="/marketplace" method="GET">
        <label for="search-field" class="sr-only">Search</label>
        <div class="relative flex w-full text-gray-400 focus-within:text-gray-600">
          <div class="absolute inset-y-0 left-2 flex items-center pointer-events-none">
            <%= icon_search %>
          </div>
          <input id="search-field" class="block w-4/6 h-full pl-8 pr-3 py-4 rounded border-gray-200 border-transparent text-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-0 focus:border-blue-500 sm:text-sm" placeholder="Search" autofocus type="search" name="q" value="<%= @search.query %>" onfocus="var temp_value=this.value; this.value=''; this.value=temp_value" >
          <input id="hops-field" class="block ml-2 w-1/6 h-full px-3 py-4 rounded border-gray-200 border-transparent text-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-0 focus:border-blue-500 sm:text-sm" placeholder="Max˚" autofocus type="number" name="hops" value="<%= @search.hops %>" data-tooltip="How many degrees of peer to peer do you want?">
          <%= select(nil, "trust_channel", [['High trust', 3], ['Low trust', 1]], 
            { 
              include_blank: 'Any trust',
              selected: params[:trust_channel]
            },
            {
              class: "ml-2 w-1/6 block pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded",
              'data-tooltip': "Ads can be sent through High or Low trust peers." 
            }
          ) %>
          <input class="block ml-2 w-1/6 h-full px-3 py-4 border-gray-200 cursor-pointer rounded btn items-center justify-center rounded-lg bg-blue-700 text-white font-medium hover:bg-blue-500" type="submit" value="Search"/>
        </div>
      </form>
    </div>

    <ul role="list" class="mt-2 divide-y divide-gray-200 overflow-hidden shadow">
      <% @ads.find_each do |ad| %>
        <li>
          <%= link_to ad, class: "block px-4 py-6 bg-white hover:bg-gray-50" do %>
            <span class="flex items-center space-x-4">
              <span class="flex-1 flex space-x-2 truncate items-center">
                <span class="flex flex-col text-gray-500 text-sm truncate">
                  <span class="truncate text-lg text-black font-bold"><%= ad.title %></span>
                  <span class="text-gray-900 font-medium text-xs flex items-center" data-tooltip="Posted by <%= ad.hops %>˚ peer.">
                    <% if ad.hops > 1 %>
                      <%= ad.hops %>˚ peer via
                    <% end %>
                    <%= ad.peer_name %>
                    
                  </span>
                  <span class="flex">
                    <time datetime="<%= ad.created_at.to_date %>"><%= ad.created_at.to_date %></time>
                  </span>
                </span>
              </span>
          
              <span class="truncate flex-1 hidden md:block text-right">
                <%= ad.description %>
              </span>

              <!-- Heroicon name: solid/chevron-right -->
              <svg class="flex-0 flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
              </svg>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>

    <nav class="px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6" aria-label="Pagination">
      <div class="sm:block">
        <p class="text-sm text-gray-700">
          <%= page_entries_info @ads %>
        </p>
      </div>
      <div class="flex-1 flex justify-between sm:justify-end">
        <% unless @ads.first_page? %>
          <a href="<%= path_to_prev_page @ads %>" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
            Previous
          </a>
        <% end %>

        <% if !@ads.last_page? && !@ads.empty? %>
          <a href="<%= path_to_next_page @ads %>" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
            Next
          </a>
        <% end %>
      </div>
    </nav>
  </div>
<% end %>
